.form {
  position: relative;
  grid-area: search;
}

.input {
  width: 100%;
  box-sizing: border-box;
  padding: 7px 6px 7px 29px;
  border: none;
  border-radius: 30px;
}

.input::placeholder {
  font-family: 'RobotoThinItalic';
  font-style: italic;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #000;
}

.searchButton {
  all: unset;
  position: absolute;
  top: 0;
  left: 0;
  width: 23px;
  height: 32px;
  background: url(../../images/search-icon.svg) center center no-repeat transparent;
  border-right: 1px solid #d9d9d9;
  border-radius: 30px 0 0 30px;
}
