@font-face {
  src: url(./Roboto/Roboto-Medium.ttf) format('truetype');
  font-family: 'Roboto';
  font-weight: normal;
  font-display: swap;
}

@font-face {
  src: url(./Roboto/Roboto-ThinItalic.ttf) format('truetype');
  font-family: 'Roboto';
  font-weight: normal;
  font-display: swap;
}

@font-face {
  src: url(./Roboto/Roboto-Regular.ttf) format('truetype');
  font-family: 'Roboto';
  font-weight: normal;
  font-display: swap;
}
