.listItem {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.checkbox {
  -webkit-appearance: none;
  appearance: none;
  width: 38px;
  height: 38px;
  border-radius: 5px;
}

.checkboxActive {
  opacity: 100%;
}

.checkboxInactive {
  opacity: 50%;
}

.tank {
  background: url(../../images/role-icon_tank.svg) center center no-repeat;
}

.bruiser {
  background: url(../../images/role-icon_bruiser.svg) center center no-repeat;
}

.rangeAssassin {
  background: url(../../images/role-icon_ranged-assassin.svg) center center no-repeat;
}

.meleeAssassin {
  background: url(../../images/role-icon_melee-assassin.svg) center center no-repeat;
}

.healer {
  background: url(../../images/role-icon_healer.svg) center center no-repeat;
}

.support {
  background: url(../../images/role-icon_support.svg) center center no-repeat;
}