.listItem {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.checkbox {
  -webkit-appearance: none;
  appearance: none;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  cursor: pointer;
}

.checkboxActive {
  opacity: 100%;
}

.checkboxInactive {
  opacity: 50%;
}

.veryEasy {
  background-color: #00ff75;
}

.easy {
  background-color: #adff00;
}

.medium {
  background-color: #faff00;
}

.hard {
  background-color: #ffb800;
}

.veryHard {
  background-color: #ff0000;
}