.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  padding: 28px 0 ;
  background: url(../../images/header-background.jpg) top center no-repeat;
  background-size: cover;
  text-align: center;
  box-shadow: inset 0 -38px 20px 10px rgba(0, 0, 0, .5);
}

.headingWrap {
  paddinG: 4px 40px;
  max-width: 453px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, .5);
}

.heading {
  margin: 0;
  font-family: 'RobotoRegular', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 75px;
  color: #fff;
}

.text {
  margin: 30px 0 0;
  font-family: 'RobotoRegular', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
  text-shadow: 0 0 5px #0d0129, 0 0 15px #fff;
}