.checkboxLabel {
  display: flex;
  align-items: center;
  font-family: 'RobotoMedium', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #fff;
  cursor: pointer;
}

.checkbox {
  /* скрыть дефолтный чекбокс */
  -webkit-appearance: none;
  appearance: none;
  margin: 0 6px 0 0;
  cursor: pointer;
  transition: 0.25s ease;
}

.checkbox::before {
  box-sizing: border-box;
  display: flex;
  content: "";
  background-color: #0085ff;
  box-shadow: inset 0 0 0 10px #544e7e;
  width: 20px;
  height: 20px;
  border: 1px solid #0085ff;
  border-radius: 3px;
  transition: box-shadow 0.25s ease;
}

.checkbox:checked::before {
  box-shadow: inset 0 0 0 2px #544e7e;
}